y-circle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  min-width: 120px;
  min-height: 120px;
  width: 20dvw;
  height: 20dvw;
  max-width: 45dvw;
  max-height: 45dvw;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px gray;
}

y-circle-button:hover {
  background-color: var(--color-secondary-hover);
  box-shadow: 1px 2px 10px 1px gray;

}

y-circle-button > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

y-circle-button > a y-inline-svg {
  background-color: yellow;
}

y-circle-button > a span {
  text-align: center;
}
